html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b3bcca;
}

.logo-nav_links-wrapper {
  gap: 0px 200px;

  .nav_links-wrapper {
    .navbar {
      gap: 0px 50px;
      color: #fff;

      .nav-links {
        border-bottom: 2px solid transparent;
        opacity: 0.5;

        &:active {
          opacity: 1;
          border-bottom: 2px solid #c93e29;
        }
      }
    }
  }
}

.search-wrapper {
  width: 303px;
  background: rgba(255, 255, 255, 0.1);

  .search-input {
    outline: none;
    color: #fff;

    background: transparent;

    &::placeholder {
      font-size: 14px;
      opacity: 0.5;
      color: #fff;
      background: transparent;
    }
  }
}

.sidenav-mobile-wrapper {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(2px);

  .sidenav {
    min-width: 300px;
    width: 60%;
    height: 100vh;
    backdrop-filter: blur(10px);
    will-change: backdrop-filter;
  }

  ul {
    .sidenav-links {
      color: #fff;
      font-size: 18px;
      font-weight: 800;
      padding: 20px;
    }
  }
}

.top-banner-section {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -o-object-fit: cover;
  background-position: start center;
  background-repeat: no-repeat;
  background-size: cover;

  .slick-slider {
    width: 100%;
    margin: 0 auto;
    height: 100vh;

    .slick-list {
      height: 100%;

      .slick-track {
        height: 100%;

        .slick-slide {
          div {
            height: 100%;

            .banner-section-bg-img {
              height: 100%;
            }
          }
        }
      }
    }
  }

  .welcome-title-slide-wrapper {
    .welcome-section-wrapper {
      .welcome-text {
        color: #fff;
      }

      .mannkibata-text {
        color: #fff;
        letter-spacing: 1.2px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          transform: translate(100%, -50%);
          top: 50%;
          right: 0;
          width: 5px;
          height: 75px;
          background-color: #fff;
          animation: blink-caret 0.75s step-end infinite;

          @keyframes blink-caret {

            from,
            to {
              background-color: transparent;
            }

            50% {
              background-color: #fff;
            }
          }
        }
      }
    }

    .slider-content-wrapper {
      gap: 50px;
      color: #fff;
      margin: 0px 0px 56px 200px;

      .slick-slider {
        display: flex;
        width: 432px;

        height: auto;
      }

      .feature-blog-wrapper {
        gap: 20px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);

        .feature-design {
          width: 2px;
          height: 100px;
          writing-mode: vertical-lr;
          background-color: #0243c1;
        }
      }

      .blog-slider-description {
        gap: 10px;
        display: flex !important;

        .double-quotes {
          color: #0243c1;
          font-size: 60px;
          line-height: 45px;
        }
      }
    }
  }
}

.blog-tabs-content-section {
  gap: 60px;

  .blog-tabs-wrapper {
    .tabs-list-wrapper {
      gap: 80px;

      .tabs-list {
        .list {
          color: #b3bcca;
          font-size: 26px;
          font-weight: 600;

          &:active {
            color: #0f1a2e;
          }
        }
      }
    }
  }

  .blogs-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: 25% 25% 25% 25%;

    .blog-content-wrapper {
      width: 100%;
      height: 400px;

      .content-description-wrapper {
        background: rgba(0, 0, 0, 0.5);

        .blog-type-wrapper {
          padding: 10px;

          .blog-type-text {
            height: 29px;
            width: 62px;
            color: #fff;
            background: #0243c1;
          }
        }

        .blog-title {
          color: #fff;
          text-shadow: -1px 2px 3px rgba(0, 0, 0, 0.2);
        }

        .date-wrapper {
          height: 50px;
          background: rgba(0, 0, 0, 0.6);

          .icon-date-time-wrapper {
            gap: 10px;
            color: #d4dae6;

            .date-text {
              color: #d4dae6;
            }
          }
        }
      }
    }
  }
}

.interested-section {
  background-color: #d4dae6;
  height: 198px;

  .text-interested-wrapper {
    width: 1280px;

    .updates-text {
      color: #0f1a2e;
    }

    .interested-form {
      gap: 20px;

      .input-your-email-address {
        background: rgba(255, 255, 255, 0.4);
        outline: none;
        color: #0f1a2e;
        width: 522px;
        height: 38px;

        &::placeholder {
          color: #0f1a2e;
          opacity: 0.5;
        }
      }

      .email-sand-btn {
        width: 190px;
        height: 38px;
        background: #c93e29;
        color: #fff;

        box-shadow: 0px 4px 10px 0px rgba(201, 62, 41, 0.2);
      }
    }
  }
}

.footer-section {
  height: 260px;
  background: #0f1a2e;

  .footer-container {
    max-width: 1460px;
    margin: 0 auto;
    width: 100%;
    padding: 0px 20px;

    .footer-wrapper {
      .footer-logo-nav-links-wrapper {
        gap: 200px;

        .footer-logo-wrapper {
          gap: 20px;

          .mannkibaat-by-wrapper {
            gap: 20px;

            .mannkibaat-by-text {
              color: #fff;
              opacity: 0.5;
            }

            .mannkibaat-by-name-text {
              color: #fff;
              line-height: 21px;
            }
          }
        }

        .nav-links-wrapper {
          .footer-nav-list {
            gap: 30px;

            .footer-nav-links {
              .footer-links {
                color: #fff;
              }
            }
          }
        }
      }

      .footer-social-text-wrapper {
        gap: 20px;

        .social-text {
          color: #fff;
          opacity: 0.5;
        }

        .social-wrapper {
          gap: 20px;
        }
      }
    }
  }
}