@media only screen and (min-width: 1920px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (max-width: 1280px) {
	.logo-nav_links-wrapper {
		gap: 0px 100px;
	}

	.header-dark-theme-wrapper {
		.container {
			.logo-nav_links-wrapper {
				gap: 0px 100px;
			}
		}
	}

	.top-banner-section {
		.welcome-title-slide-wrapper {
			.slider-content-wrapper {
				margin: 0px 0px 56px 20px;
			}
		}
	}

	.blog-tabs-content-section {
		.blog-tabs-wrapper {
			.tabs-list-wrapper {
				.tabs-list {
					.list {
						font-size: 18px;
					}
				}
			}
		}
	}

	.interested-section {
		.text-interested-wrapper {
			.interested-form {
				.input-your-email-address {
					width: 322px;
				}

				.email-sand-btn {
					width: 170px;
				}
			}
		}
	}

	.custom-tabs {
		flex-wrap: wrap;
		gap: 20px 20px;

		.tabs-btn {
			font-size: 16px !important;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.logo-nav_links-wrapper {
		gap: 0px 50px;

		.nav_links-wrapper {
			.navbar {
				gap: 0px 25px;
				color: #fff;
			}
		}
	}

	.header-dark-theme-wrapper {
		.container {
			.logo-nav_links-wrapper {
				gap: 0px 50px;

				.nav_links-wrapper {
					.navbar {
						gap: 0px 25px;
					}
				}
			}
		}
	}

	.blog-tabs-content-section {
		.blog-tabs-wrapper {
			.tabs-list-wrapper {
				gap: 40px;
			}
		}

		.blogs-wrapper {
			grid-template-columns: auto auto auto;
		}
	}

	.interested-section {
		.text-interested-wrapper {
			flex-direction: column;
			gap: 20px;

			.updates-text {
				font-size: 20px;
			}
		}
	}

	.footer-section {
		height: auto;
		padding: 40px 20px;

		.container {
			.footer-wrapper {
				.nav-links-wrapper {
					.footer-nav-list {
						flex-direction: column;
						align-items: flex-start;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.logo-nav_links-wrapper {
		.nav_links-wrapper {
			display: none;
		}
	}

	.search-wrapper {
		width: 240px;
	}

	.sidenav-icon-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.top-banner-section {
		.welcome-title-slide-wrapper {
			.welcome-section-wrapper {
				.welcome-mini-title {
					font-size: 16px;
				}

				.main-title {
					font-size: 40px;

					&::after {
						height: 50px;
					}
				}
			}

			.slider-content-wrapper {
				gap: 20px;

				.feature-blog-wrapper {
					.feature-text {
						font-size: 16px;
					}
				}

				.slick-slider {
					max-width: 326px;
					width: 100%;

					.slider-description-wrapper {
						.slider-description {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	.blog-tabs-content-section {
		padding-top: 60px;
		gap: 30px;

		.blog-tabs-wrapper {
			.tabs-list-wrapper {
				flex-wrap: wrap;
				gap: 10px 20px;

				.tabs-list {
					.list {
						font-size: 16px;
					}
				}
			}
		}

		.blogs-wrapper {
			gap: 20px;
			grid-template-columns: auto auto;

			.blog-content-wrapper {
				.content-description-wrapper {
					.blog-title-date-wrapper {
						.blog-title {
							line-height: 33px;
							font-size: 25px;
						}
					}
				}
			}
		}
	}

	.interested-section {
		.text-interested-wrapper {
			gap: 40px;
			.interested-form {
				width: 100%;
				justify-content: center;
				.input-your-email-address {
					max-width: 322px;
					width: 60%;
				}

				.email-sand-btn {
					max-width: 170px;
					width: 40%;
				}
			}
		}
	}
	.footer-section {
		.container {
			.footer-wrapper {
				flex-direction: column-reverse;
				gap: 60px;
				.footer-logo-wrapper {
					flex-direction: column;
					align-items: center;
					justify-content: center;
					a {
						svg {
							width: 40px;
						}
					}
					.mannkibaat-by-wrapper {
						text-align: center;
					}
				}
				.nav-links-wrapper {
					order: 1;
					.footer-nav-list {
						flex-direction: column;
						align-items: center;
					}
				}
				.footer-social-text-wrapper {
					align-items: center;
				}
			}
		}
	}
}

@media only screen and (max-width: 426px) {
	.blog-tabs-content-section {
		.blogs-wrapper {
			gap: 20px;
			grid-template-columns: auto;

			.blog-content-wrapper {
				.content-description-wrapper {
					.blog-title-date-wrapper {
						.blog-title {
							line-height: 40px;
							font-size: 28px;
						}
					}
				}
			}
		}
	}

	.interested-section {
		height: auto;
		padding: 40px 20px;

		.text-interested-wrapper {
			.updates-text {
				text-align: center;
			}

			.interested-form {
				width: 100%;
				align-items: center;

				flex-direction: column;

				.input-your-email-address {
					width: 100%;
				}

				.email-sand-btn {
					width: 100%;
				}
			}
		}
	}

	.footer-section {
		.container {
			.footer-wrapper {
				width: 100%;

				.footer-logo-wrapper {
					.mannkibaat-by-wrapper {
						.mannkibaat-by-name-text {
							font-size: 20px;
						}
					}
				}

				.nav-links-wrapper {
					width: 100%;

					.footer-nav-list {
						width: 100%;
						align-items: center;
					}
				}

				.footer-social-text-wrapper {
					width: 100%;
					align-items: center;
				}
			}
		}
	}

	.top-banner-section {
		.welcome-title-slide-wrapper {
			.slider-content-wrapper {
				.slick-slider {
					max-width: 240px;
					width: 100%;
				}
			}
		}
	}
	.header-container {
		.container {
			.search-wrapper {
				width: 175px;
				.sc-dcJsrY {
					width: 100%;
					position: relative !important;
					height: 100% !important;

					.wrapper {
						position: absolute !important;
						display: flex !important;
						flex-direction: column !important;
						width: 100% !important;
						height: 100% !important;
						border: none !important;
						background: transparent !important;
						border-radius: 15px !important;
						overflow: revert !important;
						font-family: Open Sans !important;

						.sc-fqkvVR {
							display: flex;
							height: 100%;
							align-items: center;
							min-height: 100% !important;
							padding: 0px 10px;
							flex-direction: row-reverse;

							.sc-eqUAAy {
								display: none;
							}

							input {
								background-color: transparent !important;
								padding: 0;
								width: 100% !important;
							}
						}

						.sc-gEvEer {
							margin: 7px 0px 0px 0px;
							background-color: #fff;
							color: #0f1a2e;
							border-radius: 15px;
							border: 0.4px solid rgba(15, 26, 46, 0.1);
							box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);

							.line {
								display: none;
							}

							ul {
								border-radius: 15px;
								height: 300px;
								margin: 0px 10px 0px 0px;
								overflow-y: scroll;
								scroll-padding: 10px;

								li {
									border-radius: 15px;
									padding: 10px 10px;

									.sc-aXZVg {
										display: none;
									}

									.ellipsis {
										padding: 0;
										margin: 0;

										div {
											width: 100%;
											gap: 10px;
											justify-content: space-between;

											p {
												width: 60%;
												height: 50px;
												text-wrap: wrap;
												opacity: 0.5;
												margin: 0;
											}

											div {
												border-radius: 10px;
												width: 40px !important;
												height: 35px !important;

												img {
													border-radius: 10px;
													width: 100%;
													height: auto;
													object-fit: cover;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.sidenav-icon-wrapper {
				width: 40px;
				height: 40px;
			}
		}
	}

	.custom-tabs {
		display: flex;
		align-items: center;
		gap: 10px;
		flex-direction: column;
	}
}

@media only screen and (max-width: 320px) {
}
