@media only screen and (min-width: 1920px) {}

@media only screen and (min-width: 1400px) {}

@media only screen and (max-width: 1280px) {
    .logo-nav_links-wrapper {
        gap: 0px 100px;
    }

    .top-banner-section {
        .welcome-title-slide-wrapper {
            .slider-content-wrapper {
                margin: 0px 0px 56px 20px;
            }
        }
    }

    .blog-tabs-content-section {
        .blog-tabs-wrapper {
            .tabs-list-wrapper {
                .tabs-list {
                    .list {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .logo-nav_links-wrapper {
        gap: 0px 50px;

        .nav_links-wrapper {
            .navbar {
                gap: 0px 25px;
                color: #fff;
            }
        }
    }

    .blog-tabs-content-section {
        .blog-tabs-wrapper {
            .tabs-list-wrapper {
                gap: 40px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .logo-nav_links-wrapper {
        .nav_links-wrapper {
            display: none;
        }
    }

    .search-wrapper {
        width: 240px;
    }

    .sidenav-icon-wrapper {
        display: block;
    }

    .top-banner-section {
        .welcome-title-slide-wrapper {
            .welcome-section-wrapper {
                .welcome-text {
                    font-size: 16px;
                }

                .mannkibata-text {
                    font-size: 40PX;

                    &::after {
                        height: 50px;
                    }
                }
            }
        }
    }

    // .sidenav-mobile-wrapper {
    //     display: flex;
    // }
}

@media only screen and (max-width: 320px) {}